:root {
    color-scheme: light; 
    --color-bg: #FFFCFB;
    --color-text: #161616;
    --color-forme: #7C7C7C;
    --color-border: #9F5FCE;
    --color-forme-alt: #C38DFF;
  
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
  }
  